
.main-container{
    display: flex;
}
.headlight{
    display: flex;
    border: solid 1px black;
   
    margin: auto;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    margin-left: 370px;
    
}

.headlight > div {
    
    text-align: center;
    border: solid 1px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.button {
width: 30%;
margin-top: 320px;
}

.traffic-light{
    width: 70%;
}
